In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('HTRU_2.csv')
df.head()

,140.5625,55.68378214,-0.234571412,-0.699648398,3.199832776,19.11042633,7.975531794,74.24222492,0
0,102.507812,58.882430,0.465318,-0.515088,1.677258,14.860146,10.576487,127.393580,0
1,103.015625,39.341649,0.323328,1.051164,3.121237,21.744669,7.735822,63.171909,0
2,136.750000,57.178449,-0.068415,-0.636238,3.642977,20.959280,6.896499,53.593661,0
3,88.726562,40.672225,0.600866,1.123492,1.178930,11.468720,14.269573,252.567306,0
4,93.570312,46.698114,0.531905,0.416721,1.636288,14.545074,10.621748,131.394004,0

In [2]:
df = pd.read_csv('HTRU_2.csv', header=None)
df.columns = [['Mean of integrated profile', 'Standard deviation of integrated profile', 
               'Excess kurtosis of integrated profile', 'Skewness of integrated profile',
               'Mean of DM-SNR curve', 'Standard deviation of DM-SNR curve',
               'Excess kurtosis of DM-SNR curve', 'Skewness of DM-SNR curve', 'Class' ]]
df.head()

,Mean of integrated profile,Standard deviation of integrated profile,Excess kurtosis of integrated profile,Skewness of integrated profile,Mean of DM-SNR curve,Standard deviation of DM-SNR curve,Excess kurtosis of DM-SNR curve,Skewness of DM-SNR curve,Class
0,140.562500,55.683782,-0.234571,-0.699648,3.199833,19.110426,7.975532,74.242225,0
1,102.507812,58.882430,0.465318,-0.515088,1.677258,14.860146,10.576487,127.393580,0
2,103.015625,39.341649,0.323328,1.051164,3.121237,21.744669,7.735822,63.171909,0
3,136.750000,57.178449,-0.068415,-0.636238,3.642977,20.959280,6.896499,53.593661,0
4,88.726562,40.672225,0.600866,1.123492,1.178930,11.468720,14.269573,252.567306,0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17898 entries, 0 to 17897
Data columns (total 9 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   (Mean of integrated profile,)                17898 non-null  float64
 1   (Standard deviation of integrated profile,)  17898 non-null  float64
 2   (Excess kurtosis of integrated profile,)     17898 non-null  float64
 3   (Skewness of integrated profile,)            17898 non-null  float64
 4   (Mean of DM-SNR curve,)                      17898 non-null  float64
 5   (Standard deviation of DM-SNR curve,)        17898 non-null  float64
 6   (Excess kurtosis of DM-SNR curve,)           17898 non-null  float64
 7   (Skewness of DM-SNR curve,)                  17898 non-null  float64
 8   (Class,)                                     17898 non-null  int64
dtypes: float64(8), int64(1)
memory usage: 1.2 MB

In [4]:
len(df)

17898

In [5]:
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

# Set up matrices X and y to store predictors and response vars
X = df.iloc[:, 0:8]
y = df.iloc[:, -1]

In [6]:
# Write a classifier function taking a model as input
def clf_model(model):
    clf = model
    scores = cross_val_score(clf, X, y)
    print('Scores:', scores)
    print('Mean score:', scores.mean())

In [10]:
clf_model(LogisticRegression(random_state=0, max_iter=1000))

Scores: [0.97486034 0.97988827 0.98184358 0.97736798 0.9782062 ]
Mean score: 0.9784332723007113

In [11]:
from sklearn.naive_bayes import GaussianNB
clf_model(GaussianNB())

Scores: [0.96061453 0.92374302 0.94273743 0.92847164 0.96451523]
Mean score: 0.9440163679814436

In [12]:
from sklearn.neighbors import KNeighborsClassifier
clf_model(KNeighborsClassifier())

Scores: [0.96955307 0.96927374 0.97318436 0.9706622  0.97289746]
Mean score: 0.9711141653437728

In [13]:
from sklearn.tree import DecisionTreeClassifier
clf_model(DecisionTreeClassifier(random_state=0))

Scores: [0.96843575 0.96424581 0.96871508 0.96227997 0.96954457]
Mean score: 0.9666442360073738

In [14]:
from sklearn.ensemble import RandomForestClassifier
clf_model(RandomForestClassifier(random_state=0))

Scores: [0.97709497 0.98324022 0.98072626 0.97485331 0.97848561]
Mean score: 0.978880074800083

In [36]:
df.Class.count()

Class    17898
dtype: int64

In [37]:
df[df.Class == 1].Class.count()

Class    1639
dtype: int64

In [38]:
df[df.Class == 1].Class.count()/df.Class.count()

Class    0.091574
dtype: float64

In [15]:
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn. model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

In [16]:
def confusion(model):
    clf = model
    clf.fit(X_train, y_train)
    y_pred = clf.predict(X_test)
    print('Confusion Matrix:', confusion_matrix(y_test, y_pred))
    print('Classification Report:', classification_report(y_test, y_pred))
    return clf

In [19]:
confusion(LogisticRegression(max_iter=1000))

Confusion Matrix: [[4038   17]
 [  78  342]]
Classification Report:               precision    recall  f1-score   support

           0       0.98      1.00      0.99      4055
           1       0.95      0.81      0.88       420

    accuracy                           0.98      4475
   macro avg       0.97      0.91      0.93      4475
weighted avg       0.98      0.98      0.98      4475

LogisticRegression(max_iter=1000)

In [20]:
confusion(KNeighborsClassifier())

Confusion Matrix: [[4030   25]
 [ 102  318]]
Classification Report:               precision    recall  f1-score   support

           0       0.98      0.99      0.98      4055
           1       0.93      0.76      0.83       420

    accuracy                           0.97      4475
   macro avg       0.95      0.88      0.91      4475
weighted avg       0.97      0.97      0.97      4475

KNeighborsClassifier()

In [21]:
confusion(GaussianNB())

Confusion Matrix: [[3879  176]
 [  71  349]]
Classification Report:               precision    recall  f1-score   support

           0       0.98      0.96      0.97      4055
           1       0.66      0.83      0.74       420

    accuracy                           0.94      4475
   macro avg       0.82      0.89      0.85      4475
weighted avg       0.95      0.94      0.95      4475

GaussianNB()

In [22]:
confusion(RandomForestClassifier(random_state=0))

Confusion Matrix: [[4037   18]
 [  78  342]]
Classification Report:               precision    recall  f1-score   support

           0       0.98      1.00      0.99      4055
           1       0.95      0.81      0.88       420

    accuracy                           0.98      4475
   macro avg       0.97      0.90      0.93      4475
weighted avg       0.98      0.98      0.98      4475

RandomForestClassifier(random_state=0)

In [23]:
from sklearn.ensemble import AdaBoostClassifier
clf_model(AdaBoostClassifier())

Scores: [0.97430168 0.97988827 0.98128492 0.97597094 0.97708857]
Mean score: 0.977706874833175

In [24]:
confusion(AdaBoostClassifier())

Confusion Matrix: [[4034   21]
 [  80  340]]
Classification Report:               precision    recall  f1-score   support

           0       0.98      0.99      0.99      4055
           1       0.94      0.81      0.87       420

    accuracy                           0.98      4475
   macro avg       0.96      0.90      0.93      4475
weighted avg       0.98      0.98      0.98      4475

AdaBoostClassifier()

In [26]:
# FINAL EXERCISE
# See also in /customer-churn/ML_3Final_Exercise.ipynb

df2 = pd.read_csv('../customer-churn/CHURN.csv')
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [27]:
df2.isnull().any()

customerID          False
gender              False
SeniorCitizen       False
Partner             False
Dependents          False
tenure              False
PhoneService        False
MultipleLines       False
InternetService     False
OnlineSecurity      False
OnlineBackup        False
DeviceProtection    False
TechSupport         False
StreamingTV         False
StreamingMovies     False
Contract            False
PaperlessBilling    False
PaymentMethod       False
MonthlyCharges      False
TotalCharges        False
Churn               False
dtype: bool

In [28]:
df2['Churn'] = df2['Churn'].replace(to_replace=['No', 'Yes'], value=[0,1])

In [29]:
df2.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,0
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,0
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,1
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,0
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,1

In [35]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   int64
dtypes: float64(1), int64(3), object(17)
memory usage: 1.1+ MB

In [30]:
X2 = df2.iloc[:,1:-1]
y2 = df2.iloc[:, -1]

In [31]:
X2 = pd.get_dummies(X2)

In [32]:
def clf2_model(model, cv=3):
    clf = model
    scores = cross_val_score(clf, X2, y2, cv=cv)
    print('Scores:', scores)
    print('Mean score:', scores.mean())

In [36]:
clf2_model(LogisticRegression(max_iter=1000))

Scores: [0.8032368  0.80153322 0.80357904]
Mean score: 0.8027830180347912

In [37]:
clf2_model(GaussianNB())

Scores: [0.27725724 0.28109029 0.27652322]
Mean score: 0.2782902503153228