In [100]:
import pandas as pd
import numpy as np

df = pd.read_csv('CHURN.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [101]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [3]:
df.describe()

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

In [2]:
df.isnull().any()

customerID          False
gender              False
SeniorCitizen       False
Partner             False
Dependents          False
tenure              False
PhoneService        False
MultipleLines       False
InternetService     False
OnlineSecurity      False
OnlineBackup        False
DeviceProtection    False
TechSupport         False
StreamingTV         False
StreamingMovies     False
Contract            False
PaperlessBilling    False
PaymentMethod       False
MonthlyCharges      False
TotalCharges        False
Churn               False
dtype: bool

In [102]:
df['Churn'] = df['Churn'].replace(to_replace=['No', 'Yes'], value=[0,1])

In [103]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,0
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,0
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,1
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,0
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,1

In [104]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   int64
dtypes: float64(1), int64(3), object(17)
memory usage: 1.1+ MB

In [105]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

X = df.iloc[:,1:-1]
y = df.iloc[:, -1]

In [106]:
# Transform all predictive columns into numeric columns

X = pd.get_dummies(X)

In [107]:
from sklearn.model_selection import cross_val_score

def clf_model(model, cv=3):
    clf = model
    scores = cross_val_score(clf, X, y, cv=cv)
    print('Scores:', scores)
    print('Mean score:', scores.mean())

In [108]:
from sklearn.linear_model import LogisticRegression

clf_model(LogisticRegression(max_iter=1000))

Scores: [0.8032368  0.80153322 0.80357904]
Mean score: 0.8027830180347912

In [109]:
from sklearn.naive_bayes import GaussianNB

clf_model(GaussianNB())

Scores: [0.27725724 0.28109029 0.27652322]
Mean score: 0.2782902503153228

In [110]:
from sklearn.neighbors import KNeighborsClassifier

clf_model(KNeighborsClassifier())

Scores: [0.78109029 0.76192504 0.77290158]
Mean score: 0.7719723028927428

In [111]:
from sklearn.tree import DecisionTreeClassifier

clf_model(DecisionTreeClassifier(random_state=0))

Scores: [0.77342419 0.76916525 0.77503196]
Mean score: 0.772540464502511

In [112]:
from sklearn.ensemble import RandomForestClassifier

clf_model(RandomForestClassifier(random_state=0))

Scores: [0.79258944 0.79173765 0.78951853]
Mean score: 0.7912818737271862

In [115]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

def confusion(model):
    clf = model
    clf.fit(X_train, y_train)
    y_pred = clf.predict(X_test)
    print('Confusion Matrix:', confusion_matrix(y_test, y_pred))
    print('Classification Report:', classification_report(y_test, y_pred))
    return clf

In [117]:
confusion(LogisticRegression(max_iter=1000))

Confusion Matrix: [[941 124]
 [155 189]]
Classification Report:               precision    recall  f1-score   support

           0       0.86      0.88      0.87      1065
           1       0.60      0.55      0.58       344

    accuracy                           0.80      1409
   macro avg       0.73      0.72      0.72      1409
weighted avg       0.80      0.80      0.80      1409

LogisticRegression(max_iter=1000)

In [118]:
confusion(GaussianNB())

Confusion Matrix: [[  55 1010]
 [  29  315]]
Classification Report:               precision    recall  f1-score   support

           0       0.65      0.05      0.10      1065
           1       0.24      0.92      0.38       344

    accuracy                           0.26      1409
   macro avg       0.45      0.48      0.24      1409
weighted avg       0.55      0.26      0.16      1409

GaussianNB()

In [119]:
confusion(KNeighborsClassifier())

Confusion Matrix: [[914 151]
 [159 185]]
Classification Report:               precision    recall  f1-score   support

           0       0.85      0.86      0.86      1065
           1       0.55      0.54      0.54       344

    accuracy                           0.78      1409
   macro avg       0.70      0.70      0.70      1409
weighted avg       0.78      0.78      0.78      1409

KNeighborsClassifier()

In [120]:
confusion(DecisionTreeClassifier(random_state=0))

Confusion Matrix: [[906 159]
 [165 179]]
Classification Report:               precision    recall  f1-score   support

           0       0.85      0.85      0.85      1065
           1       0.53      0.52      0.52       344

    accuracy                           0.77      1409
   macro avg       0.69      0.69      0.69      1409
weighted avg       0.77      0.77      0.77      1409

DecisionTreeClassifier(random_state=0)

In [121]:
confusion(RandomForestClassifier(random_state=0))

Confusion Matrix: [[954 111]
 [175 169]]
Classification Report:               precision    recall  f1-score   support

           0       0.84      0.90      0.87      1065
           1       0.60      0.49      0.54       344

    accuracy                           0.80      1409
   macro avg       0.72      0.69      0.71      1409
weighted avg       0.79      0.80      0.79      1409

RandomForestClassifier(random_state=0)

In [127]:
from sklearn.ensemble import AdaBoostClassifier

clf_model(AdaBoostClassifier())

Scores: [0.80366269 0.80451448 0.80059651]
Mean score: 0.8029245594131428

In [128]:
confusion(AdaBoostClassifier())

Confusion Matrix: [[946 119]
 [162 182]]
Classification Report:               precision    recall  f1-score   support

           0       0.85      0.89      0.87      1065
           1       0.60      0.53      0.56       344

    accuracy                           0.80      1409
   macro avg       0.73      0.71      0.72      1409
weighted avg       0.79      0.80      0.80      1409

AdaBoostClassifier()

In [129]:
confusion(AdaBoostClassifier(n_estimators=25))

Confusion Matrix: [[946 119]
 [164 180]]
Classification Report:               precision    recall  f1-score   support

           0       0.85      0.89      0.87      1065
           1       0.60      0.52      0.56       344

    accuracy                           0.80      1409
   macro avg       0.73      0.71      0.71      1409
weighted avg       0.79      0.80      0.79      1409

AdaBoostClassifier(n_estimators=25)

In [130]:
confusion(AdaBoostClassifier(n_estimators=250))

Confusion Matrix: [[954 111]
 [169 175]]
Classification Report:               precision    recall  f1-score   support

           0       0.85      0.90      0.87      1065
           1       0.61      0.51      0.56       344

    accuracy                           0.80      1409
   macro avg       0.73      0.70      0.71      1409
weighted avg       0.79      0.80      0.79      1409

AdaBoostClassifier(n_estimators=250)